



.App {
  text-align: center;
}

.App-logo {
  
  height: 225px;
}

.App-header {
  background-color: blue;
  height: 120px;
  padding: 20px;
  color: white;

}

.App-title {
  margin-top: 5px;
  font-size: 4.5em;
}

.App-intro {

  color: white;
  font-size: 45px;
}


