



.App {
  text-align: center;
}

.App-logo {
  
  height: 150px;
}

.App-header {
  background-color: blue;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  color: white;
  font-size: large;
}


